@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Voltaire&display=swap");
.expandable.closed {
  display: none !important;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.clickable:hover, .clickable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.expandable-trigger:hover, .expandable-trigger:focus {
  color: #000;
  text-shadow: 0 0 10px green;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.break-column {
  flex-basis: 100%;
  width: 0;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: Dicier;
  src: url("../assets/fonts/Dicier-Flat-Heavy.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: Dicier-Heavy;
  src: url("../assets/fonts/Dicier-Flat-Dark.woff2") format("woff2");
  font-weight: normal;
}
.dicier-icon {
  font-family: Dicier, sans-serif;
  font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
  font-size: 1.2em;
}
.dicier-icon.big {
  font-size: 3.5em;
}

.dicier-icon-bold {
  font-family: Dicier-Heavy, sans-serif;
  font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
  font-weight: bold;
  font-size: 1.2em;
}

.voltaire-regular {
  font-family: "Voltaire", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.color-d4 {
  color: #00B1B9;
}

.color-d6 {
  color: #2B9C45;
}

.color-d8 {
  color: #F29207;
}

.color-d10 {
  color: #E15E02;
}

.color-d12 {
  color: #B52215;
}

.small {
  font-size: 0.75em;
}

.social-dice {
  font-size: 1.85em;
}

form > nav > a.item {
  font-family: "Voltaire", sans-serif;
  font-size: 1.2em;
}
form > nav > a.item.active {
  font-weight: bold;
}

.confirm-question-title {
  font-family: "Voltaire", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

header.journal-page-header h1 {
  font-family: "Voltaire", sans-serif;
  text-transform: uppercase;
}

section.journal-page-content h2 {
  font-family: "Voltaire", sans-serif;
  text-transform: uppercase;
}

.dieseldrachen-logo-small {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

/* Styles limited to dieseldrachen-vtt sheets */
.dieseldrachen-vtt .item-form {
  font-family: "Roboto", sans-serif;
}
.dieseldrachen-vtt .flex-fix {
  flex-grow: 0;
}
.dieseldrachen-vtt .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.dieseldrachen-vtt .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.dieseldrachen-vtt .sheet-header .header-fields {
  flex: 1;
}
.dieseldrachen-vtt .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.dieseldrachen-vtt .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.dieseldrachen-vtt .sheet-tabs {
  flex: 0;
}
.dieseldrachen-vtt .sheet-body,
.dieseldrachen-vtt .sheet-body .tab,
.dieseldrachen-vtt .sheet-body .tab .editor {
  height: 100%;
}
.dieseldrachen-vtt .tox .tox-editor-container {
  background: #fff;
}
.dieseldrachen-vtt .tox .tox-edit-area {
  padding: 0 8px;
}
.dieseldrachen-vtt .editor-content {
  min-height: 100px;
}
.dieseldrachen-vtt .full-width-select {
  width: 100%;
}
.dieseldrachen-vtt .profile-img {
  border-radius: 3px;
  margin-bottom: auto;
}
.dieseldrachen-vtt .resource-group {
  background-color: rgba(245, 245, 220, 0.4509803922);
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}
.dieseldrachen-vtt .resource-label {
  font-family: "Voltaire", sans-serif;
  font-weight: 400;
  font-weight: bold;
}
.dieseldrachen-vtt .attribute-group {
  background-color: rgba(245, 245, 220, 0.4509803922);
  padding: 5px;
  padding-left: 0px;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
}
.dieseldrachen-vtt .attribute-label {
  font-family: "Voltaire", sans-serif;
  color: #333;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 1.4em;
}
.dieseldrachen-vtt .ability {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.dieseldrachen-vtt .ability-label {
  font-family: "Voltaire", sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: normal;
  text-align: right;
  padding-right: 9px;
}
.dieseldrachen-vtt .resource-label-social {
  font-family: "Voltaire", sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}
.dieseldrachen-vtt .quick-label {
  font-family: "Voltaire", sans-serif;
  color: #333;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px;
  text-transform: uppercase;
  margin-top: 5px;
}
.dieseldrachen-vtt .social-container {
  background-color: rgba(245, 245, 220, 0.4509803922);
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}
.dieseldrachen-vtt .healthbar-reset {
  width: 30px;
  height: 30px;
  padding: 0;
}
.dieseldrachen-vtt .tiny-text {
  font-size: 0.5em;
  font-weight: bold;
}
.dieseldrachen-vtt .tiny-dice-label {
  font-size: 0.5em;
  font-weight: bold;
}
.dieseldrachen-vtt .vehicle-condition-marker {
  background-color: yellow;
  border-radius: 60px;
  color: black;
  width: 20px;
  display: inline-block;
}
.dieseldrachen-vtt .resource-help-text {
  font-size: 0.75em;
}
.dieseldrachen-vtt .help-text {
  text-align: left;
}
.dieseldrachen-vtt .help-text ul {
  list-style-type: none;
}
.dieseldrachen-vtt .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.dieseldrachen-vtt .items-header > * {
  font-size: 14px;
  text-align: center;
}
.dieseldrachen-vtt .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.dieseldrachen-vtt .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.dieseldrachen-vtt .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dieseldrachen-vtt .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
  width: 100%;
}
.dieseldrachen-vtt .items-list .item-name.rangedWeapon {
  flex-direction: row;
}
.dieseldrachen-vtt .items-list .item-name h3,
.dieseldrachen-vtt .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.dieseldrachen-vtt .items-list .item-controls {
  display: flex;
  flex: 0 0 60px;
  justify-content: flex-end;
}
.dieseldrachen-vtt .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.dieseldrachen-vtt .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.dieseldrachen-vtt .items-list .item .ammunition-container {
  padding-left: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: 0;
}
.dieseldrachen-vtt .items-list .item:last-child {
  border-bottom: none;
}
.dieseldrachen-vtt .items-list .item .item-name {
  color: #191813;
}
.dieseldrachen-vtt .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.dieseldrachen-vtt .items-list .item .item-name .item-image img {
  border: 1px solid grey;
  border-radius: 3px;
}
.dieseldrachen-vtt .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.dieseldrachen-vtt .items-list .item-prop-small {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  flex-grow: 0.5;
}
.dieseldrachen-vtt .items-list .item-prop-stats {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  flex-grow: 0.6;
}
.dieseldrachen-vtt .items-list .item-align-left {
  align-items: flex-start;
}
.dieseldrachen-vtt .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.dieseldrachen-vtt .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.dieseldrachen-vtt .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.dieseldrachen-vtt .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.dieseldrachen-vtt .small_description {
  font-size: 0.75em;
  display: block;
}
.dieseldrachen-vtt .effects .item .effect-source,
.dieseldrachen-vtt .effects .item .effect-duration,
.dieseldrachen-vtt .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.dieseldrachen-vtt .effects .item .effect-controls {
  border: none;
}
.dieseldrachen-vtt .healthbar {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  flex-wrap: wrap;
}
.dieseldrachen-vtt .healthbar-segment {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-bottom: 5px;
  align-items: center;
  border-radius: 5px;
}
.dieseldrachen-vtt .health-marker {
  background-image: url("../assets/images/cross.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  color: white;
}
.dieseldrachen-vtt .health-counter {
  width: 20px;
  height: 20px;
  text-align: center;
}
.dieseldrachen-vtt .exhaustion-marker {
  background-image: url("../assets/images/slash.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  color: white;
}
.dieseldrachen-vtt .unused {
  background-color: black;
  color: rgb(86, 86, 86);
}
.dieseldrachen-vtt .green {
  background-color: rgb(65, 122, 65);
  color: white;
}
.dieseldrachen-vtt .red {
  background-color: red;
}
.dieseldrachen-vtt .vehicle_motor_damage {
  font-size: 1.2em;
  padding-top: 5px;
}
.dieseldrachen-vtt .vehicle_motor_damage .vmd_grey {
  color: grey;
}
.dieseldrachen-vtt .vehicle_motor_damage .vmd_red {
  color: red;
}
.dieseldrachen-vtt .vehicle_speed {
  font-size: 1.2em;
  padding-top: 5px;
}
.dieseldrachen-vtt .vehicle_speed .vmd_grey {
  color: grey;
}
.dieseldrachen-vtt .vehicle_speed .vmd_red {
  color: red;
}
.dieseldrachen-vtt .tire_wing_damage {
  font-size: 1.2em;
  padding-top: 5px;
}
.dieseldrachen-vtt .tire_wing_damage .vmd_grey {
  color: grey;
}
.dieseldrachen-vtt .tire_wing_damage .vmd_red {
  color: red;
}
.dieseldrachen-vtt .npc-armor {
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  font-size: 2em;
  color: white;
  align-content: center;
}
.dieseldrachen-vtt .icon-armor-bg {
  background-image: url("../assets/icons/icon-shield.svg");
}
.dieseldrachen-vtt .action-button {
  line-height: 1;
}
.dieseldrachen-vtt .icon-dodge {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/icon-dodge.svg");
  display: inline-block;
}
.dieseldrachen-vtt .icon-heal {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/icon-healing.svg");
  display: inline-block;
}
.dieseldrachen-vtt .icon-rest {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/icon-rocking-chair.svg");
  display: inline-block;
}
.dieseldrachen-vtt .icon-light-injury {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/icon-light-injury.svg");
  display: inline-block;
}
.dieseldrachen-vtt .icon-heavy-injury {
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/icon-heavy-injury.svg");
  display: inline-block;
}

.diesel-dice-icon {
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  opacity: 0.25;
}
.diesel-dice-icon.single-small-visible {
  opacity: 1;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.diesel-dice-icon.d4 {
  background-image: url("../assets/images/dice/4.png");
}
.diesel-dice-icon.d6 {
  background-image: url("../assets/images/dice/6.png");
}
.diesel-dice-icon.d8 {
  background-image: url("../assets/images/dice/8.png");
}
.diesel-dice-icon.d10 {
  background-image: url("../assets/images/dice/10.png");
}
.diesel-dice-icon.d12 {
  background-image: url("../assets/images/dice/12.png");
}
.diesel-dice-icon.ddi-selected {
  opacity: 1;
}
.diesel-dice-icon.enemy-dice {
  width: 54px;
  height: 54px;
}

.card-title {
  font-family: "Voltaire", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  border-bottom: 1px solid black;
  text-align: center;
}

.roll-formula-result {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.roll-formula {
  background: gray;
  padding: 2px;
  color: white;
  font-size: 1em;
  text-align: center;
}

.roll-difficulty {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.roll-success {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: green;
  text-transform: uppercase;
}

.roll-ranged-damage-formula {
  text-align: center;
}

.roll-failure {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: orange;
  text-transform: uppercase;
}

.roll-critical-miss {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: red;
}

.roll-critical-hit {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: green;
}

.roll-damage {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.roll-melee-damage-formula {
  font-size: 0.75em;
}

.roll-group {
  background-color: rgba(205, 204, 204, 0.5);
  border-radius: 5px;
  margin: 5px;
}

.tiny_input {
  width: 25px;
}

.medium_input {
  width: 75px;
}

.ranged-weapon-roll-dialog {
  min-width: 400px;
}

/*# sourceMappingURL=dieseldrachen-vtt.css.map */
