.healthbar{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    flex-wrap: wrap;
}

.healthbar-segment{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 5px;
}

.health-marker{
    background-image: url("../assets/images/cross.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    color: white;
}

.health-counter{
    width: 20px;
    height: 20px;
    text-align: center;
}

.exhaustion-marker{
    background-image: url("../assets/images/slash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    color: white;
}

.unused{
    background-color: black;
    color: rgb(86, 86, 86)
}

.green{
    background-color: rgb(65, 122, 65);
    color: white;
}

.red{
    background-color: red;
}