.application.dieseldrachen.dialog.compendium-browser {

    >.window-content {
        display: flex;
        flex-direction: row;
        padding: 0px;

        >.item-list {
            overflow-y: auto;
            scrollbar-gutter: stable;
            scrollbar-width: thin;
        }
    }
}

.item-browser-sidebar {
    position: relative;
    width: 200px;
    padding: 16px;
    border-right: 1px solid white;
    background-color: #f5f5dc73;

    li{
        list-style: none;
    }
}

.item-browser-content {
    width: 100%;
    padding-left: 0;
    background-color: #f5f5dc73;

    >.item-list {
        overflow-y: auto;
        scrollbar-gutter: stable;
        scrollbar-width: thin;
        height: 100%;
        width: 100%;

        >.item-row {
            margin-bottom: 2px;
            padding: 6px;

            &.header {
                font-weight: bold;
                background-color: rgba(66, 66, 66, 0.8);
                z-index: 1;
                border-bottom: 1px solid white;
            }

            &:hover {
                text-shadow: 0 0 10px rgb(0, 0, 0);
            }

            >.item-prop-name {
                font-weight: bold;
            }

            >.item-prop-small {
                flex-grow: 0.25;
            }

            >.item-prop-middle {
                flex-grow: 0.5;
            }

            >.item-prop-add {
                flex-grow: 0.1;
            }
        }


    }

}

.item-row:nth-child(even) {
    background-color: rgba(79, 79, 79, 0.589);
}

.item-browser-open {
    text-align: right;
    margin: 5px;
    text-transform: uppercase;
}

.search-bar {
    padding: 5px;
    >.icon {
        align-content: center;
        height: 32px;
        position: absolute;
        right: 20px;
        font-size: 16px;
        z-index: 1;
    }
}