.card-title {
    font-family: "Voltaire", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    border-bottom: 1px solid black;
    text-align: center;
}

.roll-formula-result {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.roll-formula {
    background: gray;
    padding: 2px;
    color: white;
    font-size: 1em;
    text-align: center;
}

.roll-difficulty {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.roll-success {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: green;
    text-transform: uppercase;
}

.roll-ranged-damage-formula {
    text-align: center;
}



.roll-failure {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: orange;
    text-transform: uppercase;
}

.roll-critical-miss {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: red;
}

.roll-critical-hit {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: green;
}

.roll-damage {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.roll-melee-damage-formula {
    font-size: 0.75em;
}

.roll-group{
    background-color: rgba(205, 204, 204, 0.5);
    border-radius: 5px;
    margin: 5px;
}