.vehicle_motor_damage{
    .vmd_grey{
        color: grey;
    }
    .vmd_red{
        color: red;
    }
}


.tire_wing_damage{
    .vmd_grey{
        color: grey;
    }
    .vmd_red{
        color: red;
    }
}