<form class="roll-card">
  <div class="card-title">
    {{label}}
  </div>
  <div class="roll-result">
    <div class="roll-row">
        <strong>TP geheilt:</strong> {{totalHealed}}
    </div>
    <div class="roll-row">
        <strong>Zustand:</strong> {{actorCondition}}
    </div>
  </div>
</form>