<form class="roll-card">
  <div class="card-title">
    {{label}}
  </div>
  <div class="roll-result">
    <div class="roll-row">
        Erschöpfung erholt: {{totalRested}}
    </div>
    <div class="roll-row">
        Zustand: {{actorCondition}}
    </div>
    {{{dicePoolRollHTML}}}
  </div>
</form>