<form class="roll-card">
  <div class="card-title">
    {{label}}
  </div>
  <div class="roll-result">
    <div class="roll-row">
        TP geheilt: {{totalHealed}}
    </div>
    <div class="roll-row">
        Zustand: {{actorCondition}}
    </div>
  </div>
</form>