{{#if hitQualityData.ignore_armor}}
  <div class="roll-row">
    <div class="roll-prop">
      <strong>Trefferqualität 6+: Schutz wird ignoriert</strong>
    </div>
  </div>
{{/if}}

{{#if hitQualityData.double_damage}}
  <div class="roll-row">
    <div class="roll-prop">
      <strong>Trefferqualität 10+: Schaden x2</strong>
    </div>
  </div>
{{/if}}