<form class="roll-card">
  <div class="card-title">
    {{label}}
  </div>
  <div class="roll-result">
    {{{dicePoolRollHTML}}}
    {{> "systems/dieseldrachen-vtt/templates/chat/luck-roll-button-partial.hbs"}}
    <div class="roll-row">
      <div class="roll-difficulty">
        <strong>Schwierigkeit: </strong>
        <span>{{difficulty}}</span>
      </div>
    </div>
   {{> "systems/dieseldrachen-vtt/templates/chat/success-partial.hbs"}}
  </div>
</form>