<h4 class="confirm-question-title">Möchtest Du dich heilen (eine Nacht schlafen, einen Tag faulenzen etc)?</h4>
<p>Du erholst die komplette Erschöpfung. Schaden wird in Höhe des vollen Konditionswürfels geheilt.
    <br/>
    Bei leichten Verletzungen wird nur die Hälfte des Schadens geheilt.
</p>