<div class="item-browser-sidebar">
    <img src="systems/dieseldrachen-vtt/assets/images/dieseldrachen_logo_small.webp">
    <ul>
        <li class="rollable" data-action="clickCategory" data-category="rangedWeapon">Fernkampfwaffen</li>
        <li class="rollable" data-action="clickCategory" data-category="meleeWeapon">Nahkampfwaffen</li>
        <li class="rollable" data-action="clickCategory" data-category="clothing">Kleidung</li>
        <li class="rollable" data-action="clickCategory" data-category="trick">Tricks</li>
        <li class="rollable" data-action="clickCategory" data-category="knowledge">Wissensgebiete</li>
        <li class="rollable" data-action="clickCategory" data-category="artefact">Artefakte</li>
        <li class="rollable" data-action="clickCategory" data-category="technicManeuver">Technik &amp; Manöver</li>
        <li class="rollable" data-action="clickCategory" data-category="spleen">Spleen</li>
        <li class="rollable" data-action="clickCategory" data-category="spell">Zauber</li>
        <li class="rollable" data-action="clickCategory" data-category="handgrenade">Handgranate</li>
        <li class="rollable" data-action="clickCategory" data-category="item">Ausrüstung</li>
    </ul>
</div>