<form class="custom-dialog">
  <div class="form-group">
    <label class="resource-label">{{label}}:</label>
    <input type="hidden" name="label" value="{{label}}" data-dtype="String" />
    <input type="text" name="diceFormula" value="{{diceFormula}}" data-dtype="String" />
  </div>
  <div class="form-group">
        <label class="resource-label">Schwierigkeit:</label>
        <div class="flexrow">
            <i class="fa-solid fa-minus" style="text-align:center" id="button-difficulty-minus"></i>
            <input type="number" name="difficulty" value="4" data-dtype="Number" id="difficultyInput"/>
            <i class="fa-solid fa-plus" style="text-align:center" id="button-difficulty-plus"></i>
        </div>
    </div>
</form>