header.journal-page-header h1{
    font-family: "Voltaire", sans-serif;
    text-transform: uppercase;
}

section.journal-page-content h2{
    font-family: "Voltaire", sans-serif;
    text-transform: uppercase;
}

//*[@id="JournalEntryPageProseMirrorSheet-Compendium-world-journale-JournalEntry-xg8ftXVRpAhXaftk-JournalEntryPage-ojhAobjxajwNhAmd-view"]/section/h2[1]