<div class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
    <div class='header-fields'>
      <h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
      <div class='grid grid-3col'>
        <div class='resource'>
          <label class='resource-label'>Würfel</label>
          <select name="system.specialDice">
            <option value="4" {{#if (eq system.specialDice 4)}}selected{{/if}}>D4</option>
            <option value="6" {{#if (eq system.specialDice 6)}}selected{{/if}}>D6</option>
            <option value="8" {{#if (eq system.specialDice 8)}}selected{{/if}}>D8</option>
            <option value="10" {{#if (eq system.specialDice 10)}}selected{{/if}}>D10</option>
            <option value="12" {{#if (eq system.specialDice 12)}}selected{{/if}}>D12</option>
          </select>
        </div>
      </div>
    </div>
  </header>
</div>