{{#each healthbar_segments}}
<div class="healthbar-segment {{this.css_class}}" data-healthvalue="{{this.index}}">
    <div class="health-counter">{{this.value}}</div>
</div>
{{/each}}
{{#if show_reset_button}}
<button class="healthbar-reset" data-action="clickHealthBarReset" title="Gesundheit zurücksetzen">
    <i class="fa-solid fa-ban" inert></i>
</button>
{{/if}}