// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';
@import 'utils/expandable';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';
@import 'global/fonts';
@import 'global/journal';
@import 'global/logo';

/* Styles limited to dieseldrachen-vtt sheets */
.dieseldrachen-vtt {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
  @import 'components/healthbar';
  @import 'components/vehicles';
  @import 'components/icons';

}

@import 'components/dice';
@import 'components/rolls';

.tiny_input {
  width: 25px;
}

.medium_input {
  width: 75px;
}

.ranged-weapon-roll-dialog {
  min-width: 400px;
}